#forgotEmailPane{
  -fx-background-image: url("Background/forgotPageBack.jpg");
}

#enterPhoneNumber {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
}