root {
  display: block;
}

.root {
  -fx-background-image: url("Background/back.jpg");
}

#Title {
  -fx-text-fill: #66DCE1;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
  -fx-stroke: #FFFFFF;
  -fx-stroke-width: .5px;
}

#Backdrop {
  -fx-opacity: .8;
  -fx-background-color: #bdc3c6;
}

#Username {
  -fx-text-fill: #66DCE1;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 1);
}

#UsernameField {
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
}

#forgotEmail{
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 1);
}

#PasswordField {
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
}

#Password {
  -fx-text-fill: #66DCE1;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 1);
}

#forgotPassword{
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 1);
}

#loginButton {
  -fx-text-fill: #82c343;
  -fx-background-color: #363636;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 1);
}

#signUp {
  -fx-text-fill: #82c343;
  -fx-background-color: #363636;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 1);
}

#Statustxt {
  -fx-font-weight: bold;
}
