#signUpPane {
  -fx-background-image: url("test2.jpg");
}

#firstName {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
}

#lastName {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
}

#email {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
}

#address{
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
}

#pickCountry{
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
}

#phoneNumber {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
}

#enterPassword{
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
}

#reenterPassword{
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
}

#birthday {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
}

#driverPass {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
}

#gender {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
}

#seeGender {
  -fx-opacity: .8;
  -fx-background-color: #89D0F3;
}

#iama {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #66DCE1;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 1);
}

#genderLabel {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #66DCE1;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 1);
}

#upSign {
  -fx-font-family: "Arial Narrow";
  -fx-font-weight: bold;
  -fx-text-fill: #0c590f;
  -fx-background-color: #89D0F3;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 1);
}