#favSplit {
  -fx-background-image: url("Background/favback.jpg");
}

#drawer {
  -fx-background-image: url("Background/back.jpg");
}

#profileImage {
  -fx-background-image: url("profile_image.jpg");
}

#driversListView {
  -fx-background-color: #bdc3c6;
}

#locationsListView {
  -fx-background-color: #bdc3c6;
}

#locationsTab {
  -fx-background-color: #bdc3c6;
}

#driversTab {
  -fx-background-color: #bdc3c6;
}

#topToolBar{
  -fx-background-color: #363636;
}

#menuButton{
  -fx-text-fill: #82c343;
  -fx-background-color: #363636;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 1);
}

#profileButton{
  -fx-text-fill: #82c343;
  -fx-background-color: #363636;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 1);
}

#favouritesButton{
  -fx-text-fill: #82c343;
  -fx-background-color: #363636;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 1);
}

#logoutButton{
  -fx-text-fill: #82c343;
  -fx-background-color: #363636;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 1);
}

